/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/*customised css*/
.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2em;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.coolStuffWrapper {
    margin-top: 20px;
}

button.coolStuffBtn {
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}

h5.modal-title {
    margin: auto;
}

.modalFormWrapper {
    padding: 2rem;
}

.imgCenter {
    display: block;
    margin: auto;
}

.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 54%;
}

.footerImg {
    padding: 15px;
}

.fa {
    margin: 10px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-google-plus-square {
    color: #c32f10;
}

.fa-instagram {
    color: #ffffff;
}

.socialWrapper {
    margin: auto;
}
